{% extends 'base.html' %}
{% block title %}Personal Information{% endblock %}
{% block content %}

<div class="form-container">
    <h2>Personal Information</h2>

    <form>
        <label>Date of Birth</label>
        <input type="date">

        <label>Sex</label>
        <input type="text">

        <label>Civil Status</label>
        <input type="text">

        <label>Current Address</label>
        <input type="text">

        <button class="submit-btn">Save</button>
    </form>
</div>

{% endblock %}
