{% extends 'base.html' %}
{% block title %}Student Data{% endblock %}
{% block content %}

<div class="form-container">
    <h2>Student Data</h2>
    <form>
        <label>Full Name</label>
        <input type="text">

        <label>Student ID</label>
        <input type="text">

        <label>Email Address</label>
        <input type="email">

        <label>Course & Section</label>
        <input type="text">

        <label>Phone Number</label>
        <input type="text">

        <button class="submit-btn">Save</button>
    </form>
</div>

{% endblock %}
